 
      <div class="header-body">

        <button type="button" class="btn btn-outline-success"(click)="addEventDialog()">Add Event</button>

      </div>
    
  <!-- Page content -->
 
  <div class="row">
    <div class="col-sm-6" *ngFor="let e of listeven  ;  let i = index  ">
     
      
     <app-card  [eventt]="e"  [identifiant]="e.idEvent" (notifdelete)="deleteEvent($event)"   (notifstat)="statEventt($event)"></app-card>



    
    
    </div>
     <div class="pagination-container" >
       
    
  </div>
</div>
    


