


<div class="container">

  <div class="list-group shadow mb-5">




    <div *ngFor="let i of listComments" class="list-group-item list-group-item-action p-4">
      <div class="row">
        <div class="col-2 col-lg-1 align-self-lg-center py-3 d-flex align-items-lg-center">


        </div>
        <div class="col-9 col-lg-4 align-self-center mb-3 mb-lg-0">
          <div class="d-flex align-items-center mb-1 mb-lg-3">
            <h2 class="h5 mb-0">{{i.userr}}</h2><img class="avatar avatar-sm avatar-border-white ml-3" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="Jack London">
          </div>
          <span class="badge badge-pill p-2 badge-success-light">{{i.date}}</span><a class="stretched-link" ></a>
        </div>
        <div class="col-10 ml-auto col-lg-7">
          <div class="row">
            <div class="col-md-8 py-3">
              <p class="text-sm mb-0">{{i.contents}}</p>
            </div>
            <div class="col-md-4 text-right py-3">
              <p class="text-sm">{{i.date}}</p>

            </div><a class="stretched-link" ></a>
          </div>
        </div>
      </div>
      <button type="button"  class="btn btn-outline-danger" (click)="deleteComment(i);openSnackBar('Item Deleted','Undo')">Delete</button>

    </div>

  </div>
</div>

