<div class="dropdown">
  <button class="btn"mat-raised-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item>
      <i class="far fa-bookmark"></i> Update</button>

    <button mat-menu-item>
      <i class="far fa-comment-alt"></i> Delete </button>
    <button mat-menu-item>
      <i class="fas fa-link"></i> Copy link to post </button>
    <button mat-menu-item>
      <i class="far fa-flag"></i> Report this ad </button>

  
  </mat-menu>
</div>
