.dropdown{
  position: relative;
  width: 30px;
}
.btn{
  outline: none;
  border-radius: 50%;
  background-color:ghostwhite;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  left: 282px;
  top:5px;

}
.far{
  padding: 5px;
}
.small-font
{
  &--gray{
    color: gray;
    padding-left:35px;
    line-height: 1px;
  }
}
.mat-menu-panel{
  width: 30px;
}
