<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/soroush-karimi.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="col-md-6 ml-auto mr-auto text-center">
        <input class="btn btn-outline-default btn-round" style="max-width: 40ex" type="file"
          accept="application/pdf, image/*" (change)="readFile($event)">
      </div>
      <div class="card-body">
        <form>
          <p class="text-center">{{ parsedText }}</p>
          <h6 class="heading-small text-muted mb-4">User information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">First name</label>
                  <input [attr.disabled]="disabled ? true : null" type="text"
                    class="form-control form-control-alternative" placeholder="First name" name="firstName"
                    [(ngModel)]="user.firstName">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Last name</label>
                  <input [attr.disabled]="disabled ? true : null" type="text"
                    class="form-control form-control-alternative" placeholder="Last name" name="lastName"
                    [(ngModel)]="user.lastName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Gender</label>
                  <select [attr.disabled]="disabled ? true : null" type="text"
                    class="form-control form-control-alternative" name="gender" [(ngModel)]="user.gender">
                    <option value="null" hidden>Undefined</option>
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Phone Number</label>
                  <input [attr.disabled]="disabled ? true : null" type="number"
                    class="form-control form-control-alternative" placeholder="phoneNumber" name="phoneNumber"
                    [(ngModel)]="user.phoneNumber">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Email address</label>
                  <input [attr.disabled]="disabled ? true : null" type="email"
                    class="form-control form-control-alternative" placeholder="Email address" name="email"
                    [(ngModel)]="user.email">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Password</label>
                  <input [attr.disabled]="disabled ? true : null" type="text"
                    class="form-control form-control-alternative" placeholder="Password" name="password"
                    [(ngModel)]="user.password">
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
        </form>
      </div>
      <br />
      <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Card tables</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Request ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Gender</th>
                      <th scope="col">Phone Number</th>
                      <th scope="col">Email Address</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let request of requests">
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm"> {{ request.requestId }} </span>
                          </div>
                        </div>
                      </th>
                      <td>
                        {{ request.firstName + ' ' + request.lastName }} 
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> {{ request.gender }}
                        </span>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <span class="mr-2"> {{ request.phoneNumber }} </span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> {{ request.email }}
                        </span>
                      </td>
                      <td>
                      <td class="text-right">
                        <div ngbDropdown placement="bottom-right">
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item">Action</a>
                            <a class="dropdown-item">Another action</a>
                            <a class="dropdown-item">Something else here</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination mb-0 float-right">
                    <li class="page-item disabled">
                      <a class="page-link" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item">
                      <a class="page-link">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  