<app-navbar-front></app-navbar-front>   
<div class="wrapper">
  <div class="page-header section-dark"  style="background-image: url('assets/img/Business-Travel.jpg'); ">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <div >
                      <img src="assets/img/logoMeetico.png" alt="">
                  </div>
                  <h1 style="font-size: 70px; color: rgb(249, 241, 241); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Business And Travel</h1>
                  <div class="fog-low">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
                  <div class="fog-low right">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
              </div>
          </div>
          <h2 class="presentation-subtitle text-center">Are you ready to grow?</h2>
      </div>
  </div>
</div>
  <div class="main">
    <router-outlet></router-outlet>
    <app-navigation></app-navigation>
   
      <div class="section section-dark section-nucleo-icons">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <h2 class="title">Nucleo Icons</h2><br/>
                      <p class="description">
                          Now UI Kit comes with 100 custom icons made by our friends from NucleoApp. The official package contains over 2.100 thin icons which are looking great in combination with Now UI Kit Make sure you check all of them and use those that you like the most.
                      </p><br/>
                      <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Demo Icons</a>
                      <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-danger btn-round" target="_blank">View All Icons</a>
                  </div>

                  <div class="col-lg-6 col-md-12">
                      <div class="icons-container">
                          <i class="nc-icon nc-time-alarm"></i>
                          <i class="nc-icon nc-atom"></i>
                          <i class="nc-icon nc-camera-compact"></i>
                          <i class="nc-icon nc-watch-time"></i>
                          <i class="nc-icon nc-key-25"></i>
                          <i class="nc-icon nc-diamond"></i>
                          <i class="nc-icon nc-user-run"></i>
                          <i class="nc-icon nc-layout-11"></i>
                          <i class="nc-icon nc-badge"></i>
                          <i class="nc-icon nc-bulb-63"></i>
                          <i class="nc-icon nc-favourite-28"></i>
                          <i class="nc-icon nc-planet"></i>
                          <i class="nc-icon nc-tie-bow"></i>
                          <i class="nc-icon nc-zoom-split"></i>
                          <i class="nc-icon nc-cloud-download-93"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-dark">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                      <h2 class="title">Completed with examples</h2>
                      <p class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</p>
                  </div>
              </div>
          </div>
      </div>
     
      <div class="section section-dark">
          <div class="container">
              <div class="row example-page">
                  <div class="col-md-6 text-center" routerLinkActive="active">
                      <a [routerLink]="['/landing']">
                          <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                          <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                      </a>
                  </div>

                  <div class="col-md-6 text-center" routerLinkActive="active">
                      <a [routerLink]="['/user-profile']">
                          <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                          <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                      </a>
                  </div>
              </div>
          </div>
      </div>
     
  </div>

<app-footer-front></app-footer-front>