<app-navbar-front></app-navbar-front>   
<div class="wrapper">
  <div class="page-header section-dark"  style="background-image: url('assets/img/Business-Travel.jpg'); ">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <div >
                      <img src="assets/img/logoMeetico.png" alt="">
                  </div>
                  <h1 style="font-size: 70px; color: rgb(249, 241, 241); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Business And Travel</h1>
                  <div class="fog-low">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
                  <div class="fog-low right">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
              </div>
          </div>
          <h2 class="presentation-subtitle text-center">Are you ready to grow?</h2>
      </div>
  </div>
</div>
  <div class="main">
    <router-outlet></router-outlet>
    <app-navigation></app-navigation>
   
      <div class="section section-dark section-nucleo-icons">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <h2 class="title" style="font-size:30px ;">Adresse</h2><br/>
                      <p class="description" style="font-size:30px ;">
                        1, 2 rue André Ampère - 2083 - Pôle Technologique - El Ghazala. 
                      </p><br/>
                     
                      <h2 class="title" style="font-size:30px ;">Email</h2><br/>
                      <<p class="description" style="font-size:30px ;">
                        <a>meetico@gmail.com</a>
                      </p><br/>
                      <h2 class="title" style="font-size:30px ;">Téléphone</h2><br/>
                      <p class="description" style="font-size:30px ;">
                        T (216) 52 943 945 
                      </p><br/> 
                  </div>
                  <div class="col-lg-6 col-md-12" >
                      <div class="icons-container">
                          <i class="nc-icon nc-time-alarm"></i>
                          <i class="nc-icon nc-atom"></i>
                          <i class="nc-icon nc-camera-compact"></i>
                          <i class="nc-icon nc-watch-time"></i>
                          <i class="nc-icon nc-key-25"></i>
                          <i class="nc-icon nc-diamond"></i>
                          <i class="nc-icon nc-user-run"></i>
                          <i class="nc-icon nc-layout-11"></i>
                          <i class="nc-icon nc-badge"></i>
                          <i class="nc-icon nc-bulb-63"></i>
                          <i class="nc-icon nc-favourite-28"></i>
                          <i class="nc-icon nc-planet"></i>
                          <i class="nc-icon nc-tie-bow"></i>
                          <i class="nc-icon nc-zoom-split"></i>
                          <i class="nc-icon nc-cloud-download-93"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<app-footer-front></app-footer-front>