<div  class="container">
  <form  #f="ngForm" class="form-horinzontal"  >
    <div class="form-group">

      <label class="form-label" >Content</label>
      <!--div class="form-outline">
        <textarea placeholder="Content" [(ngModel)]="publication.contents"  class="form-control" name="contents" rows="4" ngModel required #contents="ngModel"> </textarea>

      </div>


      <div class="alert alert-danger"   *ngIf="contents.invalid && contents.touched">
      <input  formControlName="object" name="contents" type="text"   class="form-control"    ngModel required #contents="ngModel"  -->

      <input   [(ngModel)]="publication.contents" name="contents" type="text"   class="form-control" #t="ngModel"  required minlength="3"    >
      <div class="alert alert-danger"  *ngIf="t.invalid && t.touched">
        <div *ngIf="t.errors.required">  Contents is required </div>
        <div *ngIf="t.errors.minlength">contents must be at least 3 characters</div>
      </div>

    </div>

    <!--div class="alert alert-danger"   >
      contents is a required field

    </div-->

    <button class="btn btn-success" type="button" [disabled]="f.invalid" (click)="addPub();openSnackBar('Post added successfully ','Undo')"   > Save</button>


  </form>
</div>

