<!-- 
<form>

    <input class="form-control" type="text" placeholder="message" id="kj" name="input" [(ngModel)]="input" >
    <button class="btn btn-success" (click)="sendMessage()">Send</button>
        

    <input class="form-control" type="text" placeholder="privatemessage" id="pm" name="input" [(ngModel)]="inputp" >
    <button class="btn btn-success" (click)="sendPrivate()">Send</button>
    </form>
    <span 
                                    id="notifications"
                                    style="
                                    color: white;
                                    background-color: red;
                                    padding-left: 15px;
                                    padding-right: 15px;">
                                    {{notificationCount}}
                            </span>
                            
    <div class="content" >
        
        <div *ngFor="let ms of msg">
         <span>
             <p class="badge badge-primary">
              {{username}} 
             </p>
         </span>   
         
        
         {{ms}} 
             
        </div>
      </div> -->


      <!-- <div class="container d-flex justify-content-center">
        <div class="card mt-5">
          <div class="d-flex flex-row justify-content-between p-3 adiv text-white">
            <i class="fas fa-chevron-left"></i>
            <span class="pb-3">Live chat</span>
            <i class="fas fa-times"></i>
          </div>
            <div class="d-flex flex-row p-3" *ngFor="let ms of msg" >
              <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png" width="30" height="30">
              <div class="chat ml-2 p-3"> {{ms}} </div>
            </div>
      
            
            
            
            
            
            
            <div class="form-group px-3">
              <textarea class="form-control" rows="5" placeholder="Type your message"  [(ngModel)]="input" ></textarea>
            </div>
                <button class="btn btn-success" (click)="sendMessage()">Send</button>

        </div>
      </div> -->

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="container">
      
          <!-- Page header start -->
          <div class="page-title">
              <div class="row gutters">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                      <h5 class="title">Chat App</h5>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> </div>
              </div>
          </div>
          <!-- Page header end -->
      
          <!-- Content wrapper start -->
          <div class="content-wrapper">
      
              <!-- Row start -->
              <div class="row gutters">
      
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      
                      <div class="card m-0">
      
                          <!-- Row start -->
                          <div class="row no-gutters">
                              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                                  <div class="users-container">
                                      <div class="chat-search-box">
                                          <div class="input-group">
                                              <input class="form-control" placeholder="Search">
                                              <div class="input-group-btn">
                                                  <button type="button" class="btn btn-info">
                                                      <i class="fa fa-search"></i>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                      <ul class="users">
                                          <li class="person" data-chat="person1">
                                              <div class="user">
                                                  <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                                  <span class="status busy"></span>
                                              </div>
                                              <p class="name-time">
                                                  <span class="name">Steve Bangalter</span>
                                                  <span class="time">15/02/2019</span>
                                              </p>
                                          </li>
                                          <li class="person" data-chat="person1">
                                              <div class="user">
                                                  <img src="https://www.bootdey.com/img/Content/avatar/avatar1.png" alt="Retail Admin">
                                                  <span class="status offline"></span>
                                              </div>
                                              <p class="name-time">
                                                  <span class="name">Steve Bangalter</span>
                                                  <span class="time">15/02/2019</span>
                                              </p>
                                          </li>
                                          <li class="person active-user" data-chat="person2">
                                              <div class="user">
                                                  <img src="https://www.bootdey.com/img/Content/avatar/avatar2.png" alt="Retail Admin">
                                                  <span class="status away"></span>
                                              </div>
                                              <p class="name-time">
                                                  <span class="name">Peter Gregor</span>
                                                  <span class="time">12/02/2019</span>
                                              </p>
                                          </li>
                                          <li class="person" data-chat="person3">
                                              <div class="user">
                                                  <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                                  <span class="status busy"></span>
                                              </div>
                                              <p class="name-time">
                                                  <span class="name">Jessica Larson</span>
                                                  <span class="time">11/02/2019</span>
                                              </p>
                                          </li>
                                          <li class="person" data-chat="person4">
                                              <div class="user">
                                                  <img src="https://www.bootdey.com/img/Content/avatar/avatar4.png" alt="Retail Admin">
                                                  <span class="status offline"></span>
                                              </div>
                                              <p class="name-time">
                                                  <span class="name">Lisa Guerrero</span>
                                                  <span class="time">08/02/2019</span>
                                              </p>
                                          </li>
                                          <li class="person" data-chat="person5">
                                              <div class="user">
                                                  <img src="https://www.bootdey.com/img/Content/avatar/avatar5.png" alt="Retail Admin">
                                                  <span class="status away"></span>
                                              </div>
                                              <p class="name-time">
                                                  <span class="name">Michael Jordan</span>
                                                  <span class="time">05/02/2019</span>
                                              </p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                                  <div class="selected-user">
                                      <span>To: <span class="name">Emily Russell</span></span>
                                  </div>
                                  <div class="chat-container" *ngFor="let ms of msg">
                                      <ul class="chat-box chatContainerScroll">
                                          <li class="chat-left">
                                              <div class="chat-avatar">
                                                  <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                                  <div class="chat-name">Russell</div>
                                              </div>
                                              <div class="chat-text">
                                                {{ms}}  </div>
                                              <div class="chat-hour" >{{date}} <span class="fa fa-check-circle"></span></div>
                                          </li>
        
                                      </ul>
                   
                                  </div>
                                  <div class="form-group mt-3 mb-0">
                                    <textarea class="form-control" rows="3" placeholder="Type your message here..." [(ngModel)]="input" ></textarea>
                                </div>
                                <button class="btn btn-success" (click)="sendMessage()">Send</button>

                              </div>
                          </div>
                          <!-- Row end -->
                      </div>
      
                  </div>
      
              </div>
              <!-- Row end -->
      
          </div>
          <!-- Content wrapper end -->
      
      </div>