body {font-family:  Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: block;
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.userName{

  margin-left: 15px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 12px 20px;
  background-color: #0073B1;
  color: white;
}

.modal-body {
  display: flex;
  padding: 7px 16px;}

.modal-footer {
  padding: 2px 16px;


}.avatar
 {

   height: 100%;
 }
.avatarDiv
{
  margin: 0 15px;
  height: 30px;
  width: 30px;
}
.avatarIcon
{
  margin: 14px 15px;
  font-size: 40px;
  color: gray;
}
.dropdown
{


}
.earth
{
  margin-right: 7px;
  margin-bottom: 5px;
}
.post
{
  margin: 20px;
  background-color: transparent;

  border:none
}
.hashtag
{
  margin:0 20px 20px 20px;
  display:flex;
}
.help
{
  margin-left: 20px;
  color: gray;
}
.icon{
  color: gray;
  margin:20px;
  cursor: pointer;
  &:hover
  {
    color: black;
  }
  font-size: large;
}
.postbtn
{
  margin-left: 48%;
}
