<div >
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">User Invited</h3>
          </div>
          <div class="col text-right">
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">User name </th>
              <th scope="col">User Adress</th>
              <th scope="col">number of phone</th>
              <th scope="col">Email</th>
              <th scope="col">delete</th>
              <th scope="col">Send Msg</th>
            </tr>
          </thead>
          <tbody *ngFor="let u of user">
            <tr>
              <th scope="row">
                {{u.lastName}}
              </th>
              <td>
                {{u.address}}
              </td>
              <td>
                {{u.phoneNumber}}
              </td>
              <td>
                {{u.email}}
              </td>
              <td>
                <div class="col text-right">
                  <a (click)="deleteUser(u.userId)" class="btn btn-sm btn-primary">Remove User</a>
                </div>
              </td>
              <td>
                <div class="col text-right">
                  <a  class="btn btn-sm btn-primary"routerLink="/chat">Send Msg</a>
                </div>
              </td>
            </tr>
        
          </tbody>
        </table>
      </div>
    </div>
  </div>