<div style="margin: 15px;">
    <form [formGroup]="tripForm">
        <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Destination</label>
        <div class="col-10">
          <input class="form-control" type="text"   formControlName="destination">
         <div *ngIf="  tripForm.get('destination').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">object</label>
        <div class="col-10">
          <input class="form-control" type="search" formControlName="object">
          <div *ngIf="  tripForm.get('object').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
          <div *ngIf="  tripForm.get('object').hasError('maxlength')" style="color: red;"> <a style="font-weight: bold;">&#x2022;</a>object must at maiximum 50 character</div>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Start Date</label>
        <div class="col-10">
          <input class="form-control" type="date"   formControlName="startDate">
          <div *ngIf="  tripForm.get('startDate').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
          
        </div>
      </div>
      <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">End Date</label>
        <div class="col-10">
          <input class="form-control" type="date" value="2011-08-19" formControlName="endDate">
          <div *ngIf="  tripForm.get('endDate').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Image</label>
        <div class="col-10">
         
          
        </div>
        
      </div>
      <div>
        <div *ngIf="currentFile" class="progress">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }"
          >
            {{ progress }}%
          </div>
        </div>
        <label class="btn btn-default">
          <input type="file" (change)="selectFile($event)" />
        </label>
        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
          Upload
        </button>
        <div class="alert alert-light" role="alert">{{ message }}</div>
        
           <div class="card">
          <div class="card-header">List of Files</div>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">name</th>
                <th scope="col">image</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of listfile">
                <th scope="row" >
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="http://localhost:8089/SpringMVC/File/files/{{file.id}}">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ file.name }}</span>
                    </div>
                  </div>
                </th>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <button (click)="supprimer(file)">supprimer</button>
      
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
       
      
      
      </div>
      </form>
      <button type="submit" class="btn btn-primary" (click)="ajouter()" [disabled]="tripForm.invalid" >submit</button>
</div>
