<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.zied {
        overflow: auto;
        
        
        
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.center{
    width: 50%;
    
}

</style>
<div >
    <mat-card class="center" >
        <mat-card-title ><div class="zied">{{trip.destination}}</div></mat-card-title>
        <mat-card-subtitle ><div class="zied">{{trip.object}}</div></mat-card-subtitle>
        <img  src="http://localhost:8089/SpringMVC/File/files/{{id}}" height="500px" width="100%">
        <mat-card-actions>
            <button class="btn" (click)="getimageurl(id)" style="width:100%"><i class="fa fa-download"></i> Download</button>
        </mat-card-actions>
      </mat-card>
</div>

  
 
