<div class="card"  style="width: 18rem;">
  <span *ngIf="events.image.content">
    <img  [src]="convert(events.image.content)" height="300px"  class="card-img-top"  alt="Image placeholder">
  </span>
   
   
   
    <div class="card-body">

   
   
      <p>
        <h3 class="card-title">Title:  {{eventt.title}}   </h3>
      <p class="card-text">{{eventt.description}} </p>
      <p class="card-text">{{eventt.location}} </p>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar"  attr.aria-valuenow="{{stat}}"  [style.width]="stat+'%'" aria-valuemin="0" aria-valuemax="100">{{stat}}</div>
      </div>
      <p class="card-text"><small class="text-muted">
        <a (click)="participateToEvent(eventt.idEvent)"  class="btn btn-primary">Participate</a>    </small>
      </p>




        




      </div>

    
    
   
</div>

    

