.card {
  padding: 0;

  &__post {
    width: 30rem;
    margin-bottom: 30px;
  }

  &-small-font
  {
    &--gray{
      font-size: 15px;
      margin-top: 30px;
      color: gray;
    }
    &--center{
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      line-height: 4px;
    }
    &-text{
      font-weight: bold;
    }
  }
  &-footer{
    display: flex;
    flex-direction: row;
    position: relative;

    &-button{
      position: absolute;
      right:10px;
      display: flex;
      flex-direction:column;
    }
  }

  &-text{
    &--top{
      padding-left: 5px;
      padding-bottom: 5px;
    }
  }
  &-img{
    display: flex;
    flex-direction: row;

    &-logo{
      padding: 11px;
      width:55px;
      height: 55px;
    }
  }
  &-head{
    padding-top :15px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    line-height: 3px;
  }


  &-content{
    padding: 10px;
  }
  &-center
  {
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
  }
  &__cover {
    position: relative;
  }

  &__img {
    background-color: #f2f2f2eb;
    width: 80px;
    height: 80px;
    position: relative;

    &-background {
      width: 100%;
      height: 100%;
    }

    &-parent {
      position: absolute;
      bottom: -40px;
      left: 36%;
    }
    &--radius {
      border-radius: 50%;
    }
    &-profile {
      position: absolute;
      top: 18%;

      left: 17%;

      width: 54px;

      height: 54px;
    }
  }}
.btn-light{
  background-color: transparent;
}
.comment{
  padding: 13px;
  border:1px solid #C1C1C1;
  border-radius: 32px;
  display: inline-block;
  background-color: whitesmoke;
  &-paragraph{
    padding-top: 10px;
    font-weight: bold;
    line-height: 3px;

  }
  &-reactions{
    &--top{
      padding-left: 13px;
      padding-top:13px;
      font-size: 12px;
    }
  }
}
.active{
  color: blue;
}
.allicons{
  position: relative;
}
.icons{
  background-color: white;
  position: absolute;
  bottom: 37px;
  overflow: hidden;
  border: 1px solid #C1C1C1;
  padding: 5px 15px;
  width:38%;
  border-radius: 30px 30px;
  &-react{
    transition: all 0.2s ease-in-out;
    width: 28px;
    padding: 3px;
    cursor: pointer;
    &:hover{
      transform: scale(1.3);
    }
  }
}

.username{
  position: absolute;
  top:23px;
}
