.display-2,
.text-white {
  text-transform: capitalize;
}
input {
  display: none;
}
.image-upload-container {
  cursor: pointer;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-bwm {
  margin-left: 9px;
}

