
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Publication Managements</h3>
        </div>
        <div class="table-responsive">

          <app-publication-ajout></app-publication-ajout>





          <mat-form-field>

            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">

          </mat-form-field>


          <img width="20" height="20" src="https://cdn-icons-png.flaticon.com/512/482/482631.png"/>



          <div class="example-container mat-elevation-z8">

            <mat-table class="table table-striped" [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                <mat-cell *matCellDef="let row">





                  <a (click)="UpdatePublication(row)"  > <img width="20" height="20" src="https://cdn-icons.flaticon.com/png/512/2356/premium/2356780.png?token=exp=1650965441~hmac=aded0557a43283ae7efbc1672e883b38
"/></a>

                  <a (click)="ListComments(row)"> <img width="20" height="20" src="https://cdn-icons-png.flaticon.com/512/901/901533.png
"/></a>

                  <a (click)="deletePub(row);showToatr2()"> <img width="20" height="20" src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png"/></a>







                </mat-cell>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="contents">
                <mat-header-cell *matHeaderCellDef mat-sort-header> contents </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.contents}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
              </ng-container>

              <!--ng-container matColumnDef="userr">
                <mat-header-cell *matHeaderCellDef mat-sort-header> user </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.userr.firstName}} </mat-cell>
              </ng-container-->


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>



          </div>


          <button type="button" class="btn btn-danger" (click)="PDF()"> <img width="20" height="20" src="https://cdn-icons-png.flaticon.com/512/446/446991.png"/>Print Publication Today</button>


          <hr>





        </div>




      </div>
    </div>
  </div>


</div>


