
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Publication Managements</h3>
        </div>
        <br>
        <div class="table-responsive">

          <div >

            <form  #f="ngForm" class="form-horinzontal"  >
              <div class="form-group">

                <label class="form-label" >Add a new Post</label>

                <textarea   [(ngModel)]="publication.contents" name="contents" type="text"  placeholder="Content"  rows="5" class="form-control" #t="ngModel"  required minlength="3"    ></textarea>
                <div class="alert alert-danger"  *ngIf="t.invalid && t.touched">
                  <div *ngIf="t.errors.required">  Contents is required </div>
                  <div *ngIf="t.errors.minlength">contents must be at least 3 characters</div>
                </div>

              </div>
              <div>
                <div *ngIf="currentFile" class="progress">
                  <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: progress + '%' }"
                  >
                    {{ progress }}%
                  </div>
                </div>
                <label class="btn btn-default">
                  <input type="file" (change)="selectFile($event);upload()" />
                </label>

                <table class="table align-items-center table-flush">
                  <tbody>



                  <tr *ngFor="let file of listfile2">
                    <img  width="200" height="200" alt="Image placeholder" src="http://localhost:8081/File/files/{{file.id}}">
                  </tr>
                  </tbody>
                </table>




              </div>






              <button class="btn btn-success" type="button" [disabled]="f.invalid" (click)="addPub();playSound();showToatr();openSnackBar('Post added successfully ','Undo') "   > Save</button>


            </form>
          </div>

          <hr>






          <mat-form-field>

            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">

          </mat-form-field>






          <div class="example-container mat-elevation-z8">

            <mat-table class="table table-striped" [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                <mat-cell *matCellDef="let row">






                  <a (click)="ListComments(row)"> <img width="20" height="20" src="https://cdn-icons-png.flaticon.com/512/901/901533.png
"/></a>

                  <a (click)="deletePub(row);showToatr2();playSound();deletePub(row);openSnackBar('Post deleted successfully ','Undo')"> <img width="20" height="20" src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png"/></a>







                </mat-cell>
              </ng-container>



              <ng-container matColumnDef="..">
                <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>



                <mat-cell *matCellDef="let row">

                  <div  *ngFor="let f of row.files">
                    <div   class="matrowzied" >
                      <input type="checkbox" id="btnControl"/>
                      <label class="btn" for="btnControl"><img  src="http://localhost:8081/File/files/{{f.id}}" id="btnLeft" /></label>
                    </div>


                  </div>

                </mat-cell>

              </ng-container>
              <!-- Progress Column -->
              <ng-container matColumnDef="contents">
                <mat-header-cell *matHeaderCellDef mat-sort-header> contents </mat-header-cell>



                <mat-cell *matCellDef="let row"> {{row.contents}}



                </mat-cell>

              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="userr">
                <mat-header-cell *matHeaderCellDef mat-sort-header> user </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.userr.firstName}} {{row.userr.lastName}} </mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>



          </div>


          <button type="button" class="btn btn-danger" (click)="PDF()"> <img width="20" height="20" src="https://cdn-icons-png.flaticon.com/512/446/446991.png"/>Print Publication Today</button>


          <hr>





        </div>




      </div>
    </div>
  </div>


</div>


