#ajouter { color: white;
  background-color: rgb(52, 114, 207);
  border-radius: 30%; }
#imageid{
  top: 50px;
}
.zied {
  width: 130px;
  height: 195px;
  top: 50px;
  right: 0px;

}
.zied .zied-top {
  width: 400px;
  height: 400px;
  display: none;
  position: absolute;
  left: 50%;
  z-index: 99;
}
.zied:hover .zied-top {
  display: inline;
}


.example-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;

}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 700px;
}
#ziedpag {
  color: blanchedalmond;
  border: #FAFAD2;;
  height: 40px;
  width: 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20%;
  font-size: 16px;
  margin: 10px 50px 20px;

}
.matrowzied {
  overflow: auto;



}
.contenue{
  bottom:12px;
}
#btnControl {
  display: none;
}

#btnControl+ label > img {
  width: 70px;
  height: 74px;
}
