.card
{
  width: 30rem;

  margin-bottom: 20px;
  &-container
  {
    display: flex;

  }
}
.line
{
  margin: 0 10px;
  float: right;
  border-left:solid 1px rgb(216, 212, 212) ;
}
.icons{
  margin-left: 150px;
  display: flex;
}

.icon :hover{
  color: black;
  cursor: pointer;
}
.start,.pencil
{
  margin-left:10px ;
  color: gray;
  font-size: large;

}
.camera,.video,.file
{
  color: rgb(95, 94, 94);
  margin: 0 10px;
}
