
<div class="card card-start-post ">
  <div class="card-body card-container">
    <div>
      <i class="pencil fas fa-pencil-alt"></i>
      <a (click)="AddPublication()" class="start card-title ">Start a post</a>
    </div>

    <div class="icons">
      <div class="icon camera-icon">
        <i class="camera fa fa-camera"></i>
      </div>

      <div class="line"></div>
      <div class="icon video-icon">

        <i class="video fas fa-video"></i>
      </div>
      <div class="line"></div>
      <div class="icon file-icon">

        <i class="file far fa-file-alt"></i>
      </div>

    </div>
  </div>
  <div class="card-footer">
    <a (click)="AddPublication()" class="card-link">Write an article</a>
    <small class="text-muted">  on Meetico</small>
  </div>
</div>
