.card {
  padding: 0;
  // margin-top:15px;
  width: 18rem;
  margin-right: 20px;
  margin-bottom: 20px;
  &-small-font
  {
    display: flex;
    margin-top: 15px;
    line-height: 5px;
    font-size: 14px;
    &--gray{
      color: gray;
    }
    &--center{
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      line-height: 4px;


    }

  }
  .card-title{
    text-align: center;
  }

  &-content{
    padding: 10px;
  }
  &-center
  {
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
  }
  &__cover {
    position: relative;
  }

  &__img {
    background-color: #f2f2f2eb;
    width: 80px;
    height: 80px;
    position: relative;

    &-background {
      width: 100%;
      height: 100%;
    }

    &-parent {
      position: absolute;
      bottom: -40px;
      left: 36%;
    }
    &--radius {
      border-radius: 50%;
    }
    &-profile {
      position: absolute;
      top: 18%;

      left: 17%;

      width: 54px;

      height: 54px;
    }
  }}
.plus
{
  color: gray;

  margin-left: 50px;
}
.pointer:hover{
  cursor: pointer;
  color: cornflowerblue;;
}
.mat-card-avatar{
  cursor:pointer;
}
