<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>

</head>

<body>
<div class="card">
  <div class="card__cover">

    <img src="../../assets/profile/background.svg" class="card-img-top card__img-background" alt="...">
    <div class="card__img-parent">
      <div class="card__img card__img--radius" routerLink="/profile">
        <img  mat-card-avatar src="../../assets/profile/photo.png" class="card__img-profile">
      </div>
    </div>
  </div>
  <div class="card-body ">
    <div class="card-center">

      <h5 class="card-title">Fares</h5>
      <p class="card-title">Moalla</p>
      <a href="#" class="addPhoto card-link">Add Photo</a>
    </div>
    <li class="card-small-font list-group-item">
      <div>

        <p class="Connections card-small-font--gray pointer">Connections</p>
        <p class="pointer">Grow your Network</p>
      </div>
      <i class="pointer plus fas fa-user-plus"></i>

    </li>
    <ul class="card-small-font list-group list-group-flush">
      <li class="list-group-item">
        <p class="card-small-font--gray pointer">Access exclusive tools$insights</p>
        <p class="pointer">Try Premium Free For 1 Month</p>

      </li>


      <li class="pointer savedItems list-group-item">Saved Items</li>

    </ul>
  </div>


</div>

<div class="card ">
  <div class="card-content">

    <a href="#" class="groups card-link">Groups</a>
    <p class="card-small-font">Events</p>
    <a href="#" class="hashtags card-link">Followed Hashtags</a><hr>
  </div>
  <p class="card-small-font--center "> Discover more</p>

</div>

</body>

</html>
