<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      
      </div>
    </div>
  </div>


  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Reclamations table</h3>
          </div>

  <form class="row g-3 needs-validation" [formGroup]="feedbackForm">
    <div class="col-sm-10">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01" name="title" placeholder="write the title of your feedback"  formControlName="title" [(ngModel)]="feedback.title" [mention]="users"   [mentionConfig]="{triggerChar:'@',maxItems:10,labelKey:'firstName'}">   
    <div *ngIf="  feedbackForm.get('title').hasError('required') && feedbackForm.get('title').touched" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> Title is required</div>
    <div *ngIf="  feedbackForm.get('title').hasError('maxlength')&& feedbackForm.get('title').touched" style="color: red;"><a style="font-weight: bold;">&#x2022;</a>   Title must not exceed 50 characters</div>
    </div>
  
    <div class="col-sm-10">
<label for="exampleFormControlTextarea1" class="form-label"> Description</label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [mention]="users"  [mentionConfig]="{triggerChar:'@',maxItems:10,labelKey:'firstName'	}" placeholder="write the description of your feedback"  formControlName="description" [(ngModel)]="feedback.description"></textarea>{{feedback.description}}
<div *ngIf="  feedbackForm.get('description').hasError('required') && feedbackForm.get('description').touched" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> Description is required</div>
<div *ngIf="  feedbackForm.get('description').hasError('maxlength') && feedbackForm.get('description').touched" style="color: red;"><a style="font-weight: bold;">&#x2022;</a>   Description must not exceed 4000 characters</div>
</div>




<!-- ///////////////////////////-->


<div class="container d-flex justify-content-center mt-100">
  <div class="row">
      
          <div class="card">
              <div class="card-body text-center"> <span class="myratings">{{feedback.stars}}</span>
                <div div *ngIf="  feedbackForm.get('stars').hasError('required')  && feedbackForm.get('stars').touched " style="color: red;"><a style="font-weight: bold;">&#x2022;</a> rating is required</div>
                  <h4 class="mt-1">Rating</h4>
                  
                  <fieldset class="rating" >
                    <input type="radio" id="star5" name="rating" value="5" [(ngModel)]="feedback.stars" formControlName="stars"/><label class="full" for="star5" title="Awesome - 5 stars"></label> 
                     <input type="radio" id="star4" name="rating" value="4" [(ngModel)]="feedback.stars" formControlName="stars"/><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                      <input type="radio" id="star3" name="rating" value="3"  [(ngModel)]="feedback.stars" formControlName="stars" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2"  [(ngModel)]="feedback.stars" formControlName="stars"/><label class="full" for="star2" title="Kinda bad - 2 stars"></label>  
                        <input type="radio" id="star1" name="rating" value="1" [(ngModel)]="feedback.stars" formControlName="stars" /><label class="full" for="star1" title="Sucks big time - 1 star"></label> 
                        </fieldset>
              </div>
          </div>
      </div>
  </div>


<!-- ///////////////////////////-->





<!-- <div class="col-sm-10">
<label for="validationCustom01" class="form-label"  >Reating</label>
<ngb-rating [(ngModel)]="feedback.stars" formControlName="stars" ></ngb-rating>  
<div *ngIf="  feedbackForm.get('stars').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> rating is required</div>
</div> -->
 
  <div class="col-12">
    <button class="btn btn-outline-success float-left" type="submit" (click)="addFeedback()" [disabled]="feedbackForm.invalid">Submit</button>
    <button type="button" class="btn btn-outline-danger float-right" [routerLink]="['/feedback-management-user']">Return</button>
  </div>
</form>
</div>
</div>
</div>


