<div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div>
                    <img src="assets/img/brand/meetico.png" alt="">
                </div>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>
            <h2 class="presentation-subtitle text-center">Are you ready to grow up?</h2>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
        <a href="https://www.creative-tim.com" target="_blank">
            <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
        </a>
    </h6>
</div>
