<div class="header bg-gradient-yellow pb-8 pt-5 pt-md-8">
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <!-- Form -->
    <form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto justify-content-center">
      <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text" (focus)="focus = true" (blur)="focus = false"
            (keyup)="searchForUsers($event)">
        </div>
      </div>
    </form>
    <!-- Table -->
    <div class="row mt-5">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Card tables</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">User ID<button class="bg-transparent" mat-icon-button matSuffix (click)="updateIcon(0)"><mat-icon [hidden]="attributes[0].hidden ? true : null">{{attributes[0].descendant ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon></button></th>
                  <th scope="col">Name<button class="bg-transparent" mat-icon-button matSuffix (click)="updateIcon(1)"><mat-icon [hidden]="attributes[1].hidden ? true : null">{{attributes[1].descendant ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon></button></th>
                  <th scope="col">Status<button class="bg-transparent" mat-icon-button matSuffix (click)="updateIcon(2)"><mat-icon [hidden]="attributes[2].hidden ? true : null"> {{attributes[2].descendant ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon></button></th>
                  <th scope="col">Followers<button class="bg-transparent" mat-icon-button matSuffix (click)="updateIcon(3)"><mat-icon [hidden]="attributes[3].hidden ? true : null">{{attributes[3].descendant ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon></button></th>
                  <th scope="col">Completion</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                  <th scope="row">
                    <div class="media align-items-center">
                      <a class="avatar rounded-circle mr-3">
                        <img src="{{ user.picture ? user.picture : 'assets/upload/default.jpg' }}">
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm"> {{ user.userId }} </span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{ user.userId == connectedUser.userId ? user.firstName + ' ' + user.lastName + ' (You)' : user.firstName + ' ' + user.lastName }}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i [class]="user.userId == connectedUser.userId ? 'bg-success' : 'bg-danger'"></i> {{ lastSeens[itemsPerPage * (currentPage - 1) + i] }}
                      <!-- <i [class]="user.active ? 'bg-success' : 'bg-warning'"></i> {{ user.active ? 'active' : 'pending' }} -->
                    </span>
                  </td>
                  <td *ngIf="user.followers.length > 0">
                    <div class="avatar-group">
                      <a class="avatar avatar-sm" data-toggle="tooltip" *ngFor="let follower of user.followers">
                        <img src="{{ follower.picture ? follower.picture : 'assets/upload/default.jpg' }}" class="rounded-circle">
                      </a>
                    </div>
                  </td>
                  <td *ngIf="user.followers.length == 0">
                    <div class="avatar-group"></div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">{{ completions[itemsPerPage * (currentPage - 1) + i] }} %</span>
                      <div>
                        <div class="progress">
                          <div [class]="completions[itemsPerPage * (currentPage - 1) + i] <= 50 ? 'progress-bar bg-danger' : completions[itemsPerPage * (currentPage - 1) + i] >= 80 ? 'progress-bar bg-success' : 'progress-bar bg-warning'" role="progressbar" aria-valuenow="{{ completions[itemsPerPage * (currentPage - 1) + i] }}" aria-valuemin="0" aria-valuemax="100" [style.width.%]="completions[itemsPerPage * (currentPage - 1) + i]"></div>
                        </div>  
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light bg-danger" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" (click)="removeUser(user)">Delete</a>
                        <a class="dropdown-item" (click)="openDialog(user)">Details</a>
                        <a class="dropdown-item">Something else here</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer bg-transparent py-4">
            <ul class="pagination justify-content-end mb-0">
              <pagination-controls (pageChange)="currentPage = $event" previousLabel="" nextLabel=""></pagination-controls>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <button class="btn btn-outline-primary me-2" (click)="open('focusFirst')">
    <div>Open confirm modal</div>
    <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>
  </button>
  
  <button class="btn btn-outline-primary" (click)="open('autofocus')">
    <div>Open confirm modal with `ngbAutofocus`</div>
    <div class="text-dark" aria-hidden="true"><small>Ok button will be focused</small></div>
  </button>
