
<h1 mat-dialog-title>Detail reclamation</h1>
<mat-dialog-content class="mat-typography">
 <h3 style="color:blue">Title of reclamation:</h3>
 <label>{{data.title}}</label>
 <h3 style="color:blue">Description of reclamation:</h3>
 <label>{{data.description}}</label>
 <h3 style="color:blue">Picture of reclamation:</h3>
 <img  [src]=picture.pictureUrl>
 <h3 style="color:blue"> Type of reclamation:</h3>
 <label>{{data.type}}</label>
 <h3 style="color:blue">Priority of reclamation:</h3>
 <label>{{data.priority}}</label>
 <h3 style="color:blue">SendingDate of reclamation:</h3>
 <label>{{data.sendingdate}}</label>
 <h3 style="color:blue">Last modification date of reclamation:</h3>
 <label>{{data.lastModificationDate}}</label>
 <h3 style="color:blue">Status:</h3>
 <label>{{data.status}}</label>
</mat-dialog-content>
<mat-dialog-actions align="end">
  
  <button type="button" mat-button mat-dialog-close class="btn btn-danger">Back</button>
  
  
</mat-dialog-actions>
