/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-icons/iconfont/material-icons.css';
@import "~bootstrap/dist/css/bootstrap.css";
.mat-focused .mat-form-field-required-marker, .mat-form-field-required-marker { color: transparent }
.button-container { max-width: 0px; max-height: 36px; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
