<div class="card">
  <mat-list >
    <mat-list-item>
      <mat-icon
        matListIcon>perm_identity</mat-icon>
      <h3 matLine>Connections</h3>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon> contacts</mat-icon>
      <h3 matLine>Contacts</h3>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>person_add</mat-icon>
      <h3 matLine>People I Follow</h3>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>people_outline</mat-icon>
      <h3 matLine>Groups</h3>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>filter_9_plus</mat-icon>
      <h3 matLine>Pages</h3>
    </mat-list-item>
  </mat-list>
  <mat-list> </mat-list>
</div>
