<div class="h-100">
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <button mat-raised-button class="button-container" onclick="window.location.href='/home'">
                                <mat-icon>close</mat-icon>
                            </button>
                            <div class="card-body pt-5">
                                <a class="text-center" href="index.html">
                                    <h4>Join Meetico today</h4>
                                </a>
                                <form *ngIf="!signedUp" class="mt-5 mb-5 login-input" name="form" #f="ngForm"
                                    (ngSubmit)="f.form.valid && onSubmit()">
                                    <!--mat-form-field
        class="field-container"
        appearance="fill"
      >
        <mat-label>First Name</mat-label>  
        <input
          matInput
          name="firstName"
          [(ngModel)]="form.firstName"
          #firstName="ngModel"
          required
          minlength="3"
          #inputFirstName maxlength="20"
          pattern="[A-Z a-z]{3,20}"
          autocapitalize="words"
          spellcheck="false"
          (focus)="onFocus('firstName')"
          (blur)="onBlur('firstName')"
        >
        <mat-hint *ngIf="inputs.get('firstName')" align="end">{{inputFirstName.value.length || 0}}/20</mat-hint>
        <mat-error *ngIf="firstName.errors && f.submitted">
          <mat-error *ngIf="firstName.errors.required">Please enter your first name.</mat-error>
          <mat-error *ngIf="firstName.errors.minlength">Your first name must be between 3 and 20 characters long.</mat-error>
          <mat-error *ngIf="!firstName.errors.minlength && firstName.errors.pattern">Only letters and spaces are allowed.</mat-error>
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field
        class="field-container"
        appearance="fill"
      >
        <mat-label>Last Name</mat-label>   
        <input
          matInput
          name="lastName"
          [(ngModel)]="form.lastName"
          #lastName="ngModel"
          required
          minlength="3"
          #inputLastName maxlength="20"
          pattern="[A-Z a-z]{3,20}"
          autocapitalize="words"
          spellcheck="false"
          (focus)="onFocus('lastName')"
          (blur)="onBlur('lastName')"
        >
        <mat-hint *ngIf="inputs.get('lastName')" align="end">{{inputLastName.value.length || 0}}/20</mat-hint>
        <mat-error *ngIf="lastName.errors && f.submitted">
          <mat-error *ngIf="lastName.errors.required">Please enter your last name.</mat-error>
          <mat-error *ngIf="lastName.errors.minlength">Your last name must be between 3 and 20 characters long.</mat-error>
          <mat-error *ngIf="!lastName.errors.minlength && lastName.errors.pattern">Only letters and spaces are allowed.</mat-error>
        </mat-error>
      </mat-form-field-->
                                    <mat-form-field class="field-container" appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input matInput name="email" [(ngModel)]="form.email" #email="ngModel" required
                                            #inputEmail maxlength="50" pattern="" autocapitalize="off"
                                            spellcheck="false" (focus)="onFocus('email')" (blur)="onBlur('email')">
                                        <!--(change)="getError()"-->
                                        <mat-hint *ngIf="inputs.get('email')" align="end">
                                            {{inputEmail.value.length || 0}}/50</mat-hint>
                                        <mat-error *ngIf="email.errors && f.submitted">
                                            <mat-error *ngIf="email.errors.required">Please enter an email.
                                            </mat-error>
                                            <mat-error *ngIf="email.errors.minlength">Your email must be between 6
                                                and 50 characters long.</mat-error>
                                            <mat-error *ngIf="!email.errors.minlength && email.errors.pattern">
                                                Only letters, digits and dots are allowed.</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field class="field-container" appearance="fill">
                                        <mat-label>Username</mat-label>
                                        <input matInput name="username" [(ngModel)]="form.username" #username="ngModel"
                                            required minlength="6" #inputUsername maxlength="30"
                                            pattern="[. A-Z a-z 0-9 .]{6,30}" autocapitalize="off" spellcheck="false"
                                            (focus)="onFocus('username')" (blur)="onBlur('username')"
                                            (change)="getError()">
                                        <mat-hint *ngIf="inputs.get('username')" align="end">
                                            {{inputUsername.value.length || 0}}/30</mat-hint>
                                        <mat-error *ngIf="username.errors && f.submitted">
                                            <mat-error *ngIf="username.errors.required">Please enter a username.
                                            </mat-error>
                                            <mat-error *ngIf="username.errors.minlength">Your username must be between 6
                                                and 30 characters long.</mat-error>
                                            <mat-error *ngIf="!username.errors.minlength && username.errors.pattern">
                                                Only letters, digits and dots are allowed.</mat-error>
                                        </mat-error>
                                        <mat-error *ngIf="!username.errors && f.submitted">
                                            <mat-error *ngIf="isUsernameFirstCharacterDot">Sorry, the first character of
                                                your username must be a letter (a-z) or number (0-9)</mat-error>
                                            <mat-error *ngIf="isUsernameLastCharacterDot">Sorry, the last character of
                                                your username must be a letter (a-z) or number (0-9)</mat-error>
                                            <mat-error *ngIf="hasUsernameConsecutiveDots">Sorry, your username cannot
                                                contain consecutive periods (.)</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <!--mat-form-field
        class="field-container"
        appearance="fill"
      >
        <mat-label>Domain Name</mat-label>
        <mat-select
          name="domainName"
          [(ngModel)]="form.domainName"
          #domainName="ngModel"
          required
        >
          <mat-option hidden value=""></mat-option>
          <mat-option value="esprit">esprit.tn</mat-option>
          <mat-option value="gmail">gmail.com</mat-option>
          <mat-option value="hotmail">hotmail.com</mat-option>
          <mat-option value="outlook">outlook.com</mat-option>
        </mat-select>
        <mat-error *ngIf="domainName.errors && f.submitted">Please choose a domain name.</mat-error>
      </mat-form-field-->
                                    <br><br>
                                    <mat-form-field class="field-container" appearance="fill">
                                        <mat-label>Password</mat-label>
                                        <input matInput type="password" name="password" [(ngModel)]="form.password"
                                            #password="ngModel" required minlength="8" #inputPassword maxlength="20"
                                            spellcheck="false" [type]="hidePassword ? 'password' : 'text'"
                                            (focus)="onFocus('password')" (blur)="onBlur('password')"
                                            (change)="getError()">
                                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-hint *ngIf="inputs.get('password')" align="end">
                                            {{inputPassword.value.length || 0}}/20</mat-hint>
                                        <mat-error *ngIf="password.errors && f.submitted">
                                            <mat-error *ngIf="password.errors.required">Please enter a password.
                                            </mat-error>
                                            <mat-error *ngIf="password.errors.minlength">Your password must be between 8
                                                and 20 characters long.</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field class="field-container" appearance="fill">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput type="password" name="confirmPassword"
                                            [(ngModel)]="form.confirmPassword" #confirmPassword="ngModel" required
                                            minlength="8" #inputConfirmPassword maxlength="20"
                                            pattern="{{ password.value }}" spellcheck="false"
                                            [type]="hideConfirmPassword ? 'password' : 'text'"
                                            (focus)="onFocus('confirmPassword')" (blur)="onBlur('confirmPassword')">
                                        <button mat-icon-button matSuffix
                                            (click)="hideConfirmPassword = !hideConfirmPassword">
                                            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
                                            </mat-icon>
                                        </button>
                                        <mat-hint *ngIf="inputs.get('confirmPassword')" align="end">
                                            {{inputConfirmPassword.value.length || 0}}/20</mat-hint>
                                        <mat-error *ngIf="!password.errors && confirmPassword.errors && f.submitted">
                                            <mat-error *ngIf="confirmPassword.errors.required">Please confirm a
                                                password.</mat-error>
                                            <mat-error *ngIf="confirmPassword.errors.pattern">Sorry, those passwords
                                                didn’t match. Try again.</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <br><br>
                                    <button mat-raised-button color="primary">Sign Up</button>
                                </form>
                                <form *ngIf="signedUp">
                                    <div>
                                        <label>
                                            Your registration is still pending approval!<br>Please check your Email.
                                        </label>
                                    </div>
                                    <button mat-raised-button (click)="onVerify()">
                                        Request Verification Link
                                    </button>
                                </form>
                                <p class="mt-5 login-form__footer">Have an account already? <a href="/login"
                                        class="text-primary">Log in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>