<app-navbar></app-navbar>
<style type="text/css">
  #ajouter { color: white;
              background-color: rgb(52, 114, 207);
              border-radius: 30%; }  
  .zied {
        width: 130px;
        height: 195px;
        position: relative;
        display: inline-block;
    }
  .zied .zied-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
  .zied:hover .zied-top {
        display: inline;
    } 


.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
#ziedpag {
  color: blanchedalmond;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">favourite destination</h5>
                    <span class="h2 font-weight-bold mb-0">{{meilleurDestination}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
   <div class="container-fluid mt--7">
    
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <button id="ajouter" routerLink="/trip-management/add">ajouter</button>
          <button id="ajouter" routerLink="/trip-management/search">search</button>
          <button id="ajouter" routerLink="/trip-management/acceuil">acceuil</button>
          <div class="card-header border-0">
            <h3 class="mb-0">Trip List</h3>
          </div>
          <div>
            <div class="table-responsive">
              <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search" >
                </mat-form-field>
              </div>
              
              <div class="example-container mat-elevation-z8">
              
                <mat-table [dataSource]="dataSource" matSort >
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="destination">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> destination </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div class="media align-items-center" class="zied"  *ngFor="let f of row.files" >
                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3" >
                          
                          <img  alt="Image placeholder" src="http://localhost:8089/SpringMVC/File/files/{{f.id}}" >
                          <img   alt="Image placeholder" src="http://localhost:8089/SpringMVC/File/files/{{f.id}}" class="zied-top" >
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{row.destination}}</span>
                        </div>
                      </div>
                    </mat-cell>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="enddate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> enddate </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.endDate}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="startdate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> startdate </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.startDate}} </mat-cell>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="entrepreneur">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> entrepreneur </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="font-size: x-small;"> {{row.user.email}} </mat-cell>
                  </ng-container>
                   <!-- Color Column -->
                   <ng-container matColumnDef="object">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> object </mat-header-cell>
                    <mat-cell *matCellDef="let row" > {{row.object}} </mat-cell>
                  </ng-container>
                  <!-- Color Column -->
                  <ng-container matColumnDef="option" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header> option </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="text-right">
                      
                        <div >
                          <button class="dropdown-item"  id="ziedpag" style="background-color: orange;"  [routerLink]="['/trip-management/modifier', row.idTrip ]">modifier</button><br>
                          <button class="dropdown-item"  id="ziedpag" style="background-color: red;" (click)="supprimer(row)">supprimer</button><br>
                          <button class="dropdown-item" id="ziedpag" style="background-color: blue" (click)="get(row)">afficher</button>
                        </div>
                    
                      
                      
                     </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                <!--
                    <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Entrepreneur</th>
                    <th scope="col">Object</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                
                    <tbody>
                  <tr *ngFor="let t of listoftrips">
                    <th scope="row" >
                      <div class="media align-items-center" class="zied"  *ngFor="let f of t.files" >
                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3" >
                          
                          <img  alt="Image placeholder" src="http://localhost:8089/SpringMVC/File/files/{{f.id}}" >
                          <img   alt="Image placeholder" src="http://localhost:8089/SpringMVC/File/files/{{f.id}}" class="zied-top" >
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{t.destination}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{t.startDate}}
                    </td>
                    <td>
                       {{t.endDate}}
                     
                    </td>
                    <td>
                      
                        <div>
                        <a >
                          {{t.user.email}}
                        </a>
                      </div>
                      
                      
                      
                    </td>
                    <td>
                      {{t.object}}
                    </td>
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" [routerLink]="['/trip-management/modifier', t.idTrip ]">modifier</a>
                          <a class="dropdown-item" (click)="supprimer(t)">supprimer</a>
                          <a class="dropdown-item" (click)="get(t)">afficher</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                
                
              </table>
                -->
                    
                
              
          </div>
        </div>
        
      
      </div>
    </div>
  </div>   
  