

<style type="text/css">
  #ajouter { color: white;
              background-color: rgb(52, 114, 207);
              border-radius: 30%; } 
  #imageid{
          top: 50px;
              } 
  .zied {
        width: 130px;
        height: 195px;        
        top: 50px;
        right: 0px;

    }
  .zied .zied-top {
        width: 400px;
        height: 400px;
        display: none;
        position: absolute;
        left: 50%;
        z-index: 99;
    }
  .zied:hover .zied-top {
        display: inline;
    } 


.example-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 700px;
}
#ziedpag {
  color: blanchedalmond;
  border: #FAFAD2;;
  height: 40px;
  width: 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20%;
  font-size: 16px;
  margin: 10px 50px 20px;
  
}
.matrowzied {
        overflow: auto;
        
        
        
}
.contenue{
 bottom:12px;
}
#btnControl {
    display: none;
}

#btnControl+ label > img {
    width: 70px;
    height: 74px;
}

</style>

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">favourite destination</h5>
                    <span class="h2 font-weight-bold mb-0">{{meilleurDestination}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="ajouter" id="ziedpag" style="background-color:#14dc49" routerLink="/trip-management/add">ajouter</button>
  <button id="ajouter" id="ziedpag" style="background-color: #FA8072;" routerLink="/trip-management/search">search</button>
  <button id="ajouter" id="ziedpag"  style="background-color: #00CED1"  routerLink="/acceuiltrip">acceuil</button>
  </div>
  

   <div class="container-fluid mt--7">

    
    <div class="row">
      <div class="col">
        <div class="card shadow">
         
          <div class="card-header border-0">
            <h3 class="mb-0">Trip List</h3>
          </div>

          <div>
            <div class="table-responsive">
              <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search" >
                </mat-form-field>
              </div>
              
              <div class="example-container mat-elevation-z8">
              
                <mat-table [dataSource]="dataSource" matSort class="table align-items-center table-flush">
                  <!-- Name Column -->
                  <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> image </mat-header-cell>
                    <mat-cell *matCellDef="let row" > 
                      <ng-container  *ngFor="let f of row.files" >
                        

                      <div   class="matrowzied" >
                        <input type="checkbox" id="btnControl"/>
                        <label class="btn" for="btnControl"><img [routerLink]="['/trip-management/image', f.id ]" src="http://localhost:8081/File/files/{{f.id}}" id="btnLeft" /></label>                    
                      </div>
                      
                    </ng-container>
                  </mat-cell>
                  </ng-container>
                  
                  <!-- ID Column -->
                  <ng-container matColumnDef="destination">
                    <mat-header-cell *matHeaderCellDef mat-sort-header > destination </mat-header-cell>
                    <mat-cell *matCellDef="let row" >
                      <div class="matrowzied">
                        {{row.destination}}
                      </div>
                      
                      
                    </mat-cell>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="enddate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> enddate </mat-header-cell>
                    <mat-cell *matCellDef="let row"  > <div > {{row.endDate}}  </div></mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="startdate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> startdate </mat-header-cell>
                    <mat-cell *matCellDef="let row"  > <div >{{row.startDate}} </div></mat-cell>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="entrepreneur">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> entrepreneur </mat-header-cell>
                    <mat-cell *matCellDef="let row"  ><div class="matrowzied"> {{row.user.email}} </div> </mat-cell>
                  </ng-container>
                   <!-- Color Column -->
                   <ng-container matColumnDef="object">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> object </mat-header-cell>
                    <mat-cell *matCellDef="let row"  > <div class="matrowzied">{{row.object}}</div> </mat-cell>
                  </ng-container>
                  <!-- Color Column -->
                  <ng-container matColumnDef="option" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header> option </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="text-right " >
                        <div >
                          <button  class="dropdown-item"  id="ziedpag" style="background-color:#DC143C"  [routerLink]="['/trip-management/modifier', row.idTrip ]">modifier</button><br>
                          <button  class="dropdown-item"  id="ziedpag"  style="background-color: #FA8072;" (click)="supprimer(row)">supprimer</button><br>
                          <button  class="dropdown-item" id="ziedpag" style="background-color: #00CED1" (click)="get(row)">PDF</button>
                        </div>
                     </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
               

          </div>
        </div>
      </div>
    </div>
  </div>   
  

